<div id="menu-container"
  class="bg-blue-600 h-screen w-screen fixed z-50 flex-col bg-gradient-to-b from-green-400 to-blue-500 opacity-95 overflow-hidden hidden">
  <div class="container mx-auto px-6 md:px-4">
    <header class="flex items-center justify-between py-6">
      <div class="invisible">
        {% include logo.html %}
      </div>
      <div class="cursor-pointer" id="menu-close">
        <svg aria-hidden="true" focusable="false" class="h-6 text-white" role="img" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 352 512">
          <path fill="currentColor"
            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
          </path>
        </svg>
      </div>
    </header>
  </div>
  <div class="flex-grow flex flex-col items-center justify-center text-center text-white font-bold">
    {% for item in site.data.menu.main %}
    <a class="py-4 text-4xl md:text-6xl" href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </div>
</div>