---
layout: default
---

{% include heading.html heading=page.heading %}

<main class="py-6">
  {% for post in site.posts limit: site.paginate %}
  <div class="mb-12">
    {% include summary.html post=post %}
  </div>
  {% endfor %}

  {% if site.posts.size > site.paginate %}
    <div class="flex justify-center py-12">
      <a class="text-4xl md:text-6xl font-bold cursor-pointer hover:opacity-70 transition duration-300" href="/blog/page2">More posts…</a>
    </div>
  {% endif %}
</main>

{% include toots.html %}